body {
    margin: 0;
    background-color: lightblue;
    color: black;

}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    color: white;
    height: 50px;
}
ul {
    display: flex;
}
li {
    list-style: none;
    margin: 10px;
}
li:hover {
    color: aqua;
    cursor: pointer;


}
main {
    margin-top: 100px;
}
section.hero {
    background-image: url(./images/abobaker.png);
    background-repeat: no-repeat;
    height: 50vh;
}
.intro{
	position: absolute;
    top: 15%;
    right: 10%;
}
h1{
	color: black;
	margin: 20px 0px 20px;
	font-size: 50px;
}
span{
	color: #45f8f8;
}
h3{
	color: white;
	margin-bottom: 50px;
}
h4{
	color: rgba(255, 0, 0, 0.8);
	letter-spacing: 2px;
	font-size: 20px;
}

img.image {
    width: 300px;
    height: 300px;
    transition: transform 2s;   
}

img.image:hover {
    transform: scale(1.1);
}

section.about {
    margin-bottom: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div.info {
    padding: 30px;
    border: 1px white solid;
    width: 70%;
    font-size: 50px;
}

.project {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    align-items: flex-start;
}
div.test {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 100px;
}
div.test > button {
    align-self: center;
    width: 7rem;
    height: 2rem;
    cursor: pointer;
    background-color: aqua;
    transition: transform 2s;   

}

div.test > button:hover { 
   transform: scale(1.2);
}




