* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#dddcdc, #d5d8f5);
    color: rgb(0, 0, 0);
    height: 50px;
    font-size: 20px;
}
ul {
    display: flex;
}
li {
    list-style: none;
    margin: 10px;
}
a {
    align-self: center;
    text-decoration: none;
    color: black;
}
a:hover {
    cursor: pointer;
    color: #f5e3e3;
}
main {
    background: linear-gradient(#f5e3e3, #949dff);
}
div.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro-p {
    font-size: 20px;
    margin-left: 30px;;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.skills-title {
    margin: 30px;
}
.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    
}

.logos {
    width: 100px;
    height: 100px;
    margin: 0 20px 20px 20px;
}

.myimage {
    margin:0 0 30px 20px;
}

h1{
	color: black;
	margin: 20px 0px 20px;
	font-size: 50px;
}
span{
	color: #45f8f8;
}
h3{
	color: rgb(92, 89, 89);
	margin-bottom: 50px;
}
h4{
	color: rgba(255, 0, 0, 0.8);
	letter-spacing: 2px;
	font-size: 20px;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    background: linear-gradient(#dddcdc, #d5d8f5);
    margin-top: 70px;
    width: 100%;
    height: 150px;
}

.footer-logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.f-logo {
    width: 100px; 
    height: 100px;
    transition: transform 1s; 
}
.f-logo:hover {
    transform: scale(1.2);
}
.box {
    position: relative;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;

}
.box .imgbox {
    position: relative;
    overflow: hidden;

}
.box .imgbox img {
    
    width: 450px;
    height: 450px;
    max-width: 100%;
    transition: transform 2s;   
}
.box:hover .imgbox img {
    transform: scale(1.2);
}
.box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    
}
.box:hover .details{
    transform: scaleY(1);

}
.box .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: rgb(255, 248, 248);
}
.box .details .content h2 {
    margin: 0;  
    padding: 0;
    font-size: 20px;
    color: #A0A6FB;
}

.button {
    width: 80%;
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 12px 25px;
    margin-top: 20px;
    background: transparent;
    cursor: pointer;
   
}
    a.button{
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    
    .button:hover {
        border: 1px solid red;
        transition: 0.5s;
        background: linear-gradient(#dddcdc, #6a77ec);
    
    }

@media screen and (max-width: 1920px) {
    .hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .myimage {
        width: 433px;
        height: 362px;
        margin-right: 40px;
    }
    .ptitle {
        display: flex;
        justify-content: center;
    }
     .transition{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
}

